<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Wayne's Home</h1>
        <p>This web show your some projects</p>
    </div>


    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Parsing Shooping Cart</h2>
            <p>Parsing momo, pchome, etc. </p>
            <p><a class="btn btn-lg" href="#!parsingShoopingCart" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Grid View</h2>
            <p>grid view about many images demo </p>
            <p><a class="btn btn-lg" href="#!gridView" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>About Me</h2>
            <p>Just CV</p>
            <p><a class="btn btn-lg" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
</div>
